<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Job available</title>
    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <!-- custom css -->
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <!-- custom JS -->
    <script src="js/script.js"></script>
  </head>
  <body>
    
    <div class="container-fluid"> #calling Job description in the hash using key.
      <h1>Job result</h1>
      <h3>Job title : <%= @job_offer["title"] %></h3> 
      <h3>Company : <%= @job_offer["company"] %></h3> 
      <h3>salary : <%= @job_offer["salary_min"] %> - <%= @job_offer["salary_max"] %></h3> 
     <h3>Job offer in : <%= @job_offer["locations"] %></h3>
     <h4>Current Local Time in <%= @job_offer["locations"] %> : <%= @job_offer["date"] %></h4> 
      <h3>description : <%= @job_offer["description"] %></h3>
      <p><a href=<%= @job_offer["url"] %>>Click here to see more about this job offer</a></p>
       
      
    </div>
    
  </body>
</html>
